@use 'LuminaFrame/breakpoints' as *;
@import "LuminaFrame/_spacing";
@import "LuminaFrame/_grid";
@import "LuminaFrame/_normalize";
@import "LuminaFrame/_utils";
@import "LuminaFrame/_shared";
@import "LuminaFrame/_typography";
@import "LuminaFrame/_buttons";
//@import "LuminaFrame/_breakpoints";


@font-face {
  font-family: "gtae";
  src: url("fonts/GTEestiProText-Light.ttf") format("truetype");
  font-display: swap;
}

//@font-face {
//  font-family: "Moderat Medium";
//  src: url("fonts/Moderat-Extended-Medium.ttf") format("truetype");
//  font-display: swap;
//}
//
//@font-face {
//  font-family: "Moderat Regular";
//  src: url("fonts/Moderat-Extended-Medium.ttf") format("truetype");
//  font-display: swap;
//}

:root {
  --color-contrast: #222222;
  --color-contrast-darker: #1C1C1C;
  --color-contrast-light: #959595;
  --color-contrast-lighter: #B5B5B5;
  //--color-white: #FFFFFF;
  --color-white: #fafafa;
  //--color-secondary: #ff8933;
  --color-secondary: #FF8C36;
  --color-primary: #FFFFFF;
  //--font-primary: 'Moderat Regular';
  //--font-primary-medium: 'Moderat Medium';
  //--font-primary-medium: 'Moderat Regular';

  --font-primary: 'gtae',  'Montserrat', 'Open Sans', sans-serif;
  --font-primary-medium: 'gtae',  'Montserrat', 'Open Sans',sans-serif;

  //--font-primary: 'Montserrat', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  //--font-primary-medium: 'Montserrat', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

  //--font-primary-bold: 'gta bold', sans-serif;
  --radius-btn: 8px;
  --reveal-fx-timing-function: var(--ease-out);
  --reveal-fx-duratio: .6s;
}

body {
  overflow-x: hidden;
  background-color: var(--color-white);
  font-family: var(--font-primary);

  &.no-scroll {
    overflow: hidden;
  }

}


//h1,h2,h3,h4,h5{
//  font-family: var(--font-primary-bold);
//}


// **************  hero   ************** //
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  //width: 100vw;
  background-color: var(--color-contrast);

  @include breakpoint(sm, "not all") {
    grid-template-columns: 1fr;
  }
  &--subtag{
    font-weight: 600;
  }


  &__left {
    display: flex;
    //align-items: center;
    justify-content: center;
    flex-direction: column;
    //background-color: var(--color-contrast);
    color: var(--color-white);
    padding: var(--space-xl);
    @include breakpoint(sm, "not all") {
      order: 2;
      padding: var(--space-xxxl) var(--space-xl);
    }
  }

  &__subtag {
    max-width: 65%;
    @include breakpoint(sm, "not all") {
      max-width: 100%;
    }
  }

  &__right {
    overflow: hidden;
    background-color: var(--color-contrast);
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    @include breakpoint(sm, "not all") {
      position: relative;
      margin-left: 0 !important;
    }
  }

  &__tag, &__btn {
    margin-top: auto;
    //@include breakpoint(sm, "not all"){
    //  margin-top: revert;
    //}
  }

  &__vertical {
    position: absolute;
    border-right: 2px solid var(--color-white);
    //left: 49.9%;
    left: 0;
    top: 0;
    bottom: 0;
    animation: vertical 3s infinite;
    @include breakpoint(md, "not all") {
      display: none;
    }
    //animation: vertical 3s normal forwards;
  }
}

// **************  hero reversed  ************** //

.hero-reversed {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  background-color: var(--color-contrast);

  //width: 100vw;
  @include breakpoint(sm, "not all") {
    grid-template-columns: 1fr;
  }

  &__right {
    display: flex;
    //align-items: center;
    justify-content: center;
    flex-direction: column;
    //background-color: var(--color-contrast);
    color: var(--color-white);
    padding: var(--space-xl);
  }

  &__vertical {
    position: absolute;
    border-right: 2px solid var(--color-white);
    left: 50.3%;
    top: 0;
    bottom: 0;
    animation: vertical 3s infinite;
    //animation: vertical 3s normal forwards;
  }

  figure {
    height: 100vh;
    @include breakpoint(sm, "not all") {
      //height: revert;
      height: 50vh;
    }
  }

  &__subtag {
    max-width: 65%;
    font-weight: 600;
    @include breakpoint(sm, "not all") {
      max-width: 100%;
    }
  }

  &__left {
  }

  &__tag {

  }
}

// **************  teaser  ************** //
.teaser {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  height: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  @include breakpoint(sm, "not all") {
    grid-template-columns: 1fr;
  }
  @include breakpoint(xs, "not all") {
    margin-bottom: var(--space-xl);
  }

  &__left {
    @include breakpoint(sm, "not all") {
      height: 50vh;
    }
  }

  &__right {
    background-color: var(--color-contrast);
    color: var(--color-white);
    //display: flex;
    //flex-direction: column;

    //
    //display: -webkit-box;
    //display: -webkit-flex;
    //display: -ms-flexbox;
    //display: flex;
    height: 100%;
    //padding-top: 4.2em;
    //padding-right: 3em;
    //padding-left: 3em;
    //-webkit-box-orient: vertical;
    //-webkit-box-direction: normal;
    //-webkit-flex-direction: column;
    //-ms-flex-direction: column;
    //flex-direction: column;
    //-webkit-box-pack: start;
    //-webkit-justify-content: flex-start;
    //-ms-flex-pack: start;
    //justify-content: flex-start;
  }
}


.image-wrapper {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
}

.image {
  //position: absolute;
  //left: 0%;
  //top: 0%;
  //right: 0%;
  //bottom: 0%;
  //z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}


// **************  tiles   ************** //
.tiles {
  //display: flex;
  //flex-wrap: wrap;
  //justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @include breakpoint(sm, "not all") {
    grid-template-columns: 1fr;
  }

  &--about {
    grid-template-columns: repeat(2, 1fr);
    @include breakpoint(sm, "not all") {
      grid-template-columns: 1fr;
    }

    .tile:hover {
      box-shadow: var(--shadow-md);
      border: 1px solid transparent;
    }
  }

  &--top {
    grid-template-columns: repeat(2, 1fr);
    @include breakpoint(sm, "not all") {
      grid-template-columns: 1fr;
      order: 2;
    }

    .tile:first-of-type:hover {
      box-shadow: var(--shadow-md);
      border: 1px solid transparent;
    }

    .tile:nth-of-type(2) {
      border: none;
      @include breakpoint(sm, "not all") {
        display: none;
      }
    }
  }

  &--index {
    .tile {
      &:first-of-type {
        border: none;
        @include breakpoint(sm, "not all") {
          display: none;
        }
      }

      &:hover:not(&:first-of-type) {
        box-shadow: var(--shadow-md);
        border: 1px solid transparent;
      }
    }
  }

  &--services {
    .tile {
      &:hover {
        box-shadow: var(--shadow-md);
        border: 1px solid transparent;
      }
    }
  }
}

.tile {
  //flex: 1 0 25%;
  border: 1px solid rgba(0, 0, 0, .05);
  padding: var(--space-xxl) var(--space-xl);

  @include breakpoint(md, "not all") {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    margin-bottom: var(--space-lg);
  }

  &__number {
    font-size: calc(26px + (64 - 26) * ((100vw - 320px) / (1900 - 320)));
    color: var(--color-secondary);
    font-weight: 700;
  }

  &__heading {
    text-transform: uppercase;
  }

  &--single {
    //width: 20vw;
  }
}


// **************  bild   ************** //
.bild {
  width: 100vw;
  //height: 100vh;
  //background-image: url("images/bild1.jpg");
  //background-image: url("images/drone2.jpg");
  display: block;
  //background-origin: content-box;
  //background-size: cover;
  //background-position: center;
  position: relative;
  overflow: hidden;

  @include breakpoint(sm, "not all") {
    background-position: center;
    //height: 50vh;
  }

  &__tile {
    position: absolute;
    bottom: 0;
    left: 49.65%;
    //left: 50%;
    //transform: translate(-50%, -50%);
    //width: 600px;
    //padding: var(--space-xl) var(--space-xxxxl) var(--space-xxl) var(--space-xl);
    padding: var(--space-xl);
    //height: 400px;
    background-color: var(--color-contrast);
    @include breakpoint(sm, "not all") {
      width: 100%;
    }
    @include breakpoint(xs, "not all") {
      display: none;
    }

    &--services {
      padding: var(--space-xl);
      left: 0;
      bottom: 20%;
      //width: 400px;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include breakpoint(sm, "not all") {
        display: none;
      }
    }
  }

  &__title {
    font-weight: 700;
    line-height: 1;
    color: var(--color-white);
    //padding: var(--space-xl);
  }

  &__line {
    width: calc(2 * var(--space-xxxl));
    height: 2px;
    background-color: var(--color-white);
    margin-top: var(--space-xxl);
    //margin: 0 var(--space-xl);
  }

  &--services {
    background-image: url("images/bild4.jpg");
    height: 100vh;


  }
}


// **************  subContact   ************** //
.contact {
  //height: 100vh;
  //display: flex;
  //align-items: center;
  //padding: var(--space-xl);
  //height: 80vh;
  //@include breakpoint(sm, "not all") {
  //  height: revert;
  //}

  &__left {
    //padding: var(--space-xl);
    @include breakpoint(sm, "not all") {
      order: 2;
      padding: var(--space-xxl) 0;
    }
  }

  figure {
    height: 80vh;
    @include breakpoint(sm, "not all") {
      height: revert;
    }
  }

  &__right {
    background-color: var(--color-contrast);
    height: 80vh;
    @include breakpoint(sm, "not all") {
      order: 1;
      height: revert;
    }
  }
}

// **************  footer   ************** //

.footer {
  padding: var(--space-xl);

  ul {
    li:first-of-type {
      color: var(--color-contrast-light);
      padding-bottom: var(--space-md);
    }

    li {
      padding: var(--space-xs) 0;
    }
  }

  &__image {
    filter: invert(66%) sepia(67%) saturate(2346%) hue-rotate(335deg) brightness(101%) contrast(101%);
  }

  &__links, small {
    @include breakpoint(md) {
      padding-left: var(--space-xl);
    }
  }
}


// **************  header   ************** //
.header {
  position: absolute;
  left: 0;
  top: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 100%;
  color: var(--color-white);


  &__left, &__right {
    padding: var(--space-lg) var(--space-xl);
  }

  &__left {
    position: relative;
    z-index: 100;
  }

  &__right {
    display: flex;
    //justify-content: space-between;
    justify-content: end;
    gap: var(--space-md);
    align-items: center;
  }

  &__logo{
    filter: brightness(0) invert(1);
  }

  &__language {
    display: flex;
    gap: var(--space-md);
    align-items: baseline;
    @include breakpoint(sm, "not all") {
      display: none;
    }

    &--open {
      ul {
        height: auto !important;
      }
    }

    ul {
      height: 1.9rem;
      overflow: hidden;
    }

    &__arrow {
      transform: rotate(0deg);
      transition: transform .55s var(--ease-out-back);

      &--rolled {
        transform: rotate(180deg);
        transition: transform .25s var(--ease-out-back);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__hamburger-wrapper {
    display: flex;
    gap: var(--space-lg);
  }

  &__hamburger {
    position: relative;
    background-color: var(--color-white);
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: var(--shadow-md);
    text-align: center;
    cursor: pointer;

    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-icon,
    &-icon::before {
      width: 2rem;
      height: 2px;
      background-color: var(--color-contrast);
      display: inline-block;
    }

    &-icon::after {
      width: 1.2rem;
      height: 2px;
      background-color: var(--color-contrast);
      display: inline-block;
    }

    &-icon::before,
    &-icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.3s var(--ease-out-back);
    }

    &-icon::before {
      top: -0.5rem;
    }

    &-icon::after {
      top: 0.5rem;
    }

    &:hover &-icon::after {
      width: 2rem;
    }

    &:hover &-icon::before {
      width: 1.2rem;
    }

    &--open {
      &:hover .header__hamburger-icon::after {
        width: 2rem;
      }

      &:hover .header__hamburger-icon::before {
        width: 2rem;
      }


      .header__hamburger-icon {
        background-color: transparent;
      }

      .header__hamburger-icon::before {
        top: 0;
        transform: rotate(135deg);
        width: 2rem;
      }

      .header__hamburger-icon::after {
        top: 0;
        transform: rotate(-135deg);
        width: 2rem;
      }
    }
  }
}

// **************  sidebar   ************** //
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
  transition-timing-function: ease-in;
  transition-duration: .15s;

  visibility: hidden;
  opacity: 0;
  transition:visibility 0.3s linear,opacity 0.3s linear;

  &--open {
    visibility: visible;
    opacity: 1;
    transition:visibility 0.3s linear,opacity 0.3s linear;
  }

  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: opacity .25s cubic-bezier(.1, .6, .4, 1);
    transition: opacity .25s cubic-bezier(.1, .6, .4, 1);
    cursor: pointer;
    z-index: 1;
  }


  &__content {
    margin-left: auto;
    width: 70vw;
    height: 0;
    box-shadow: var(--shadow-lg);
    background-color: var(--color-white);
    color: var(--color-contrast);
    padding: var(--space-xl);
    z-index: 22222;
    position: relative;
    @include breakpoint(sm, "not all") {
      width: revert;
    }

    &--open {
      height: 70vh;
      @include breakpoint(sm, "not all") {
        height: 100vh;
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    @include breakpoint(sm, "not all") {
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  &__sublinks {
    gap: var(--space-xs);
    max-width: 500px;
    margin: var(--space-lg) 0;
    color: var(--color-contrast-light);
    flex-basis: auto;

    display: flex;
    flex-direction: column;

    @include breakpoint(sm, "not all") {
      align-items: center;
    }
  }


  //&__link {
  //  font-size: calc(40px + (80 - 40) * ((100vw - 320px) / (1900 - 320)));
  //  font-family: var(--font-primary-medium);
  //  padding: var(--space-xxxs) 0;
  //  line-height: 1.2;
  //  font-weight: 500;
  //
  //  &:hover {
  //    color: var(--color-secondary);
  //  }
  //}
}

.menu-container{

  & > div{
    @include breakpoint(sm, "not all") {
      //grid-template-columns: 1fr !important;
      //display: flex !important;
      //flex-direction: column;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }
  .div1 {
    grid-area: 1 / 1 / 7 / 4;
    align-self: center;
    @include breakpoint(sm, "not all") {
      grid-area: 1 / 1 / 3 / 3;
    }
  }

  .div2 {
    grid-area: 1 / 4 / 4 / 6;
    @include breakpoint(sm, "not all") {
      grid-area: 3 / 1 / 4 / 2;
    }
  }
  .div3 {
    grid-area: 1 / 6 / 4 / 8;
    @include breakpoint(sm, "not all") {
      grid-area:  3 / 2 / 4 / 3;
    }
  }
  .div4 {
    grid-area: 4 / 4 / 7 / 6;
    @include breakpoint(sm, "not all") {
      grid-area:  4 / 1 / 5 / 2;
    }
  }
  .div5 {
    grid-area: 4 / 6 / 7 / 8;
    @include breakpoint(sm, "not all") {
      grid-area:  4 / 2 / 5 / 3;
    }
  }

  .div2,.div3,.div4,.div5{
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    //border-top: 1px solid rgba(0,0,0,.2);
    //border-left: 1px solid rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    padding: var(--space-md) var(--space-xl);
    justify-content: flex-end;
    transition: all .3s linear;
    transform: translateY(0em);
    @include breakpoint(sm, "not all") {
      align-items: center;
    }
    h4{
      max-width: 35%;
      @include breakpoint(sm, "not all") {
        font-size: 14px;
        max-width: 100%;
      }
    }
    //transition: background-color 0.15s linear ;
    img{
      transition: background-color 0.15s linear ;
    }
    &:hover{
      background-color: var(--color-secondary);
      transition: background-color 0.3s linear ;
      img{
        filter:  brightness(0%) contrast(100%);
        animation: bounce 1s infinite alternate;
        -webkit-animation: bounce 1s infinite alternate;
        transition: background-color 0.15s linear;
      }
    }
  }
}


//.sidebar {
//  display: none;
//  z-index: 100;
//  top: 0;
//  left: 0;
//  //right: 0;
//  position: absolute;
//  width: 100%;
//  height: 100vh;
//  overflow: hidden;
//  //justify-content: center;
//  //flex-direction: column;
//  background-color: var(--color-contrast);
//  color: var(--color-white);
//  padding: var(--space-xl);
//
//  &--open {
//    display: block;
//    //display: flex;
//  }
//  &__links{
//    display: flex;
//    flex-direction: column;
//  }
//  &__sublinks{
//    display: grid;
//    grid-template-columns: repeat(2, 1fr);
//    gap: var(--space-xs);
//    max-width: 500px;
//    margin: var(--space-lg) 0;
//  }
//
//
//  &__link {
//    font-size: var(--text-xxxl);
//    padding: var(--space-xxxs) 0;
//    line-height: 1.2;
//
//    &:hover {
//      color: var(--color-secondary);
//    }
//  }
//}


// **************  contactPage   ************** //
.contact-page {
  background-color: var(--color-contrast);
  color: var(--color-white);
}


// **************  helpers   ************** //


.h-100 {
  height: 100vh;
}


.responsive {
  max-width: 100%;
  //width: 100%;
  height: auto;
  //transition: opacity, transform var(--reveal-fx-timing-function),-webkit-transform var(--reveal-fx-timing-function);
  transition: opacity, -webkit-transform var(--reveal-fx-timing-function);
  transition-duration: var(--reveal-fx-duration);
}

ul {
  list-style-type: none;
  padding: 0;
}

figure {
  overflow: hidden;
  margin: 0;
  width: 100%;
  img, .gatsby-image-wrapper {
    display: inline-block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    //transition: opacity, -webkit-transform var(--reveal-fx-timing-function);
    //transition-duration: var(--reveal-fx-duration);
  }
}
figure.hover-effect{
  &:hover{
    .gatsby-image-wrapper{
      transform: scale(1.1);
      transition: .6s transform var(--ease-out-back);
    }
  }
  .gatsby-image-wrapper{
    transform: scale(1);
    transition: .6s transform var(--ease-out-back);
  }
}

//#___gatsby {
//  overflow: hidden;
//}

// **************  projects & articles  ************** //

.projects-wrapper {
  //display: grid;
  //grid-template-columns: repeat(3, 1fr);
  //gap: var(--space-lg);
  //@include breakpoint(sm, "not all") {
  //  grid-template-columns: repeat(2, 1fr);
  //}
  //@include breakpoint(sm, "not all") {
  //  grid-template-columns: 1fr;
  //}

  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-lg);
  width: 100%;
  align-items: stretch;
  margin-top: var(--space-xxl);
  & > div:nth-child(2n+3), & >div:nth-child(2){
    flex-basis: 50%;
    flex-grow: 2;
    margin-bottom: var(--space-xxl);

    @include breakpoint(md, "not all") {
      flex-basis: 100%;
      img{
        border-radius: 12px;
      }
    }
    p{
      max-width: 60%;
      @include breakpoint(md, "not all") {
        max-width: 100%;
      }
    }
  }
  & > div:nth-child(5n+1),
  & > div:nth-child(4n+4){
    margin-bottom: var(--space-xxl);
    flex-basis: 25%;
    flex-grow: 1;
    @include breakpoint(md, "not all") {
      flex-basis: 100%;
      img{
        border-radius: 12px;
      }
    }
    & > div{
      position: -webkit-sticky;
      position: sticky;
      top: var(--space-xl);
    }
  }
  //& > div{
  //  flex-basis: 25%;
  //  flex-grow: 1;

    //position: -webkit-sticky;
    //position: sticky;
    //top: var(--space-xl);
  //}

  //& > div:nth-child(2n+1){
  //  flex-basis: 25%;
  //  flex-grow: 1;
  //}
  //& > div:nth-child(2n+1){
  //  flex-basis: 50%;
  //  flex-grow: 2;
  //}

}

.project img, .article img {
  @include breakpoint(sm, "not all") {
    border-radius: 12px;
  }
}


//.project__description{
//  max-width: 50%;
//}


.project {
  cursor: zoom-in;
  position: relative;
  //width: 100%;
  //height: 0;
  padding-top: 66.66%;

  &.open {
    cursor: zoom-out;

    .project__shade {
      pointer-events: auto;
      opacity: 1;
      z-index: 1;
    }

    .project__image {
      position: fixed;
      width: auto;
      height: auto;
      max-width: 100%;
      margin: auto;
      z-index: 10001;
    }
  }

  &__shade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    opacity: 0;
    background: rgba(0, 0, 0, 0.9);
    //z-index: 1;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    //z-index: 1001;
  }
}

.articles-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-xxl);
  //margin-right: var(--space-xxxxl);

  @include breakpoint(md, "not all") {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.article {
  display: grid;
  //grid-template-columns: 1fr 2fr;
  grid-template-columns: 1fr;
  gap: var(--space-lg);
  border-bottom: 1px solid rgba(255,255,255, .3);
  padding: var(--space-xxl) 0;
  align-items: center;

  @include breakpoint(md, "not all") {
    grid-template-columns: 1fr;
  }
  &__title{
    color: var(--color-secondary);
  }
  &__date{
    color: var(--color-contrast-light);
  }
  &__img{
    position: relative;
    height: 400px;
    overflow: hidden;

    @include breakpoint(md, "not all") {
      height: revert;
    }
    &:hover{
      img{
        transform: scale(1.1);
        transition: .6s transform var(--ease-out-back);
      }
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1);
      transition: .6s transform var(--ease-out-back);
      //object-fit: contain;
    }
  }

}


.filter {
  display: flex;
  gap: var(--space-md);
  align-items: center;
  justify-content: end;
  @include breakpoint(sm, "not all") {
    flex-wrap: wrap;
    justify-content: center;
  }
}

#article-page, #privacy-page{
  //background-color: var(--color-contrast);
  //color: var(--color-white);
  .footer{
    background-color: var(--color-contrast);
    color: var(--color-white);
  }
}

#error-page{
  display: grid;
  place-items: center;
  height: 100vh;
}
#blog-page, #projects-page, #error-page{
  .header{
    &__left{
      a img{
        //filter: brightness(1) invert(0);
        filter: invert(66%) sepia(67%) saturate(2346%) hue-rotate(335deg) brightness(101%) contrast(101%);
      }
    }
    .languages ul li a{
      color: var(--color-contrast);
    }
    .languages__arrow{
      filter: brightness(1) invert(1);
    }
  }
  .contact{
    border-top: 1px solid hsla(0,0%,63.9%,.3);
  }
  .footer{
    border-top: 1px solid hsla(0deg, 0%, 63.9%, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }
}

// **************  keyframes   ************** //


@keyframes vertical {
  from {
    height: 0;
  }
  60% {
    //border-left: 2px solid red;
    height: 100vh;
    //opacity: 0;
  }
  to {
    //height: 100vh;
    opacity: 0;
    //border-left: 2px solid blue;
  }
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}



// **************  form   ************** //


.contact-form {
  form {
    //width: 100%;
    width: 65%;
    overflow: hidden;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    @include breakpoint(sm, "not all") {
      width: 100%;
    }
  }

  form div {
    margin-top: 2rem;
    font-size: 1rem;
    height: 3rem;
    position: relative;
  }

  form div:first-of-type {
    margin-top: 0;
  }

  form div {
    input, textarea {
      display: block;
      width: 100%;
      height: 100%;
      color: var(--color-white);
      padding-top: 0.5rem;
      border: none;
      outline: none;
      background-color: transparent;
    }
  }

  form div {
    textarea {
      border-bottom: 1px solid var(--color-white);
    }
  }

  .message-div label {
    border-bottom: none;

    &:after {
      content: "";
      border-bottom: none;
    }
  }

  form div label {
    position: absolute;
    bottom: 0;
    /* top: 0; */
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--color-white);

    pointer-events: none;
    border-bottom: 1px solid var(--color-white);
  }

  form div label::after {
    content: "";
    position: absolute;
    left: 0;
    /* aline perfectly with label border */
    bottom: -1px;
    /* top: 0; */
    width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--color-secondary);

    transform: translateX(-100%);
    transition: all 0.3s ease;
  }

  form div label span {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    padding-bottom: 0.25rem;
  }

  form div textarea:focus + label span,
  form div textarea:valid + label span,
  form div input:focus + label span,
  form div input:valid + label span, {
    font-size: 0.75rem;
    color: var(--color-secondary) !important;
    transform: translateY(-100%);
  }

  form div textarea:focus + label:after,
  form div textarea:valid + label:after,
  form div input:focus + label:after,
  form div input:valid + label:after {
    transform: translateX(0%);
  }

  a {
    margin-top: 5rem;
    margin-bottom: 2rem;

  }

  button {
    margin-top: 10rem;
    background: transparent;
    @include breakpoint(sm, "not all") {
      width: 100%;
    }
  }

  textarea {
    resize: both;
    overflow: auto;
    height: 8rem !important;
  }

  textarea:required {
    box-shadow: none;
  }

  textarea:invalid {
    box-shadow: none;
  }

  input:required {
    box-shadow: none;
  }

  input:invalid {
    box-shadow: none;
  }

  .agreements {
    font-size: 14px;
    line-height: 1.4;
    max-width: 80%;
    margin-top: 7rem;
  }
}


// **************  loader   ************** //

.greeting {
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-contrast);
  z-index: 10001 !important;
  display: grid;
  place-items: center;
  position: fixed;
  //overflow: hidden;
  flex-direction: column;
  background-attachment: fixed;
}


.languages {
  display: flex;
  gap: var(--space-md);
  align-items: baseline;
  position: relative;
  z-index: 1;

  &--open {
    ul {
      height: auto !important;
    }
  }

  ul {
    height: 1.9rem;
    overflow: hidden;

    position: absolute;
    left: -40px;
    top: -25px;

    li a {
      color: var(--color-white);
    }
  }

  &__arrow {
    transform: rotate(0deg);
    transition: transform .55s var(--ease-out-back);

    &--rolled {
      transform: rotate(180deg);
      transition: transform .25s var(--ease-out-back);
    }

    &:hover {
      cursor: pointer;
    }
  }

}

.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: var(--space-xl);
}
.arrow-down{
  animation: bounce .5s infinite alternate;
  -webkit-animation: bounce .5s infinite alternate;
}